.welcomePage_wrap {
  height: 700px;
  min-height: 400px;
  max-height: 90vh;
  background-color: rgb(88, 88, 88);
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
